certifi==2019.3.9
chardet==3.0.4
idna==2.8
numpy==1.16.2
Pillow==5.4.1
pyzmq==18.0.1
requests==2.21.0
scikit-learn==0.20.3
scipy==1.2.1
six==1.12.0
skorch==0.5.0.post0
tabulate==0.8.3
torchfile==0.1.0
tornado==6.0.1
tqdm==4.31.1
urllib3==1.24.1
visdom==0.1.8.8
websocket-client==0.55.0
